{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header bg-primary">Our SideBar</h5>
        <ul class="list-group">
            <li class="list-group-item">Latest Posts</li>
            <li class="list-group-item">Announcement</li>
            <li class="list-group-item">Calender</li>
            <li class="list-group-item">And More</li>
        </ul>
</div>
</div>

{% endblock sidebar %}